.section {

    float: left;
    width: 100%;

}
.contact_form {
    background-size: cover;
    background: url('../assets/images/contact_bg.png') center center;
    min-height: 650px;
    padding: 80px 0;
}
