.pogoSliderSlide {
    ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1
}

.backgroundClass {
    background-image: url("../assets/images/slide_img.png");
}